# Unity generated #
Temp/
Library/

*.apk

# Visual Studio / MonoDevelop generated #
ExportedObj/
obj/
*.svd
  *.userprefs
  /*.csproj
  *.pidb
  *.suo
  /*.sln
  *.user
  *.unityproj
  *.booproj

  # OS generated #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.apk
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
UnityVS.opposite-of-apple.CSharp.csproj
UnityVS.opposite-of-apple.sln
